* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  }

  html{
    scroll-behavior: smooth;
  }

  /* HEADER */

  .header__nav {
    color: #9C9C9C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1B;
    width: 1110px;
    height: 70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 130px;
    margin-right: 85px;
   
    padding: 0  6rem;
    
  }

  .nav__menu ul {
    display: flex;
    gap: 1.5rem;
  } 
  .nav__socials ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
    font-size: 20px;
    margin-left: 300px;
  
  }

  

  body {
    color: #FFFFFF;
    background-color: #080808; 
  
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

}
  li {
    list-style: none;
    cursor: pointer;
  }
  .fa-bars {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

  .hero__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    
  }

  .hero-left__container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 538px;
    height: 247px;
    margin-top: 101px;
    margin-left: 180px;
    gap: 5px;
    opacity: 0px;
    width: Fixed (538px)px;



  }
  

  .hero-left-text h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    font-family: "Raleway", 'Times New Roman', Times, serif;
    font-size: 44px;
    font-weight: 800;
    line-height: 51.66px;
    text-align: left;
    color:#FFFFFF;
    font-weight: 800;
    font-size: 44px;
    line-height: 51.66px;
    gap: 10px;
    width: 426px;
    height: 72px;
  }

  .hero-left-text p {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 480px;
  height: 72px;
  gap: 0px;
  opacity: 0px;
  letter-spacing: 1%;
  color: #9C9C9C;
  text-wrap: wrap;
  margin-top: 0.5rem;
  }

  .hero-left-button button {
  
    width: 307.89px;
height: 63px;
padding: 19px 60px 19px 60px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: #3F8E00;
border: 1px solid #62BA1B;
box-shadow: 0px 8px 30px 0px #3F8E0080;
font-family: "IBM Plex Mono";
font-size: 16px;
font-weight: 700;
line-height: 20.8px;
text-align: left;
color: #FFFFFF;
margin-top: 25PX;
  }

  .hero-left-button button span {
    width: 180px;
height: 21px;
gap: 0px;
opacity: 0px;

  }

  .hero-right__container {
     width: 100%;
height: auto;
margin-top: -110px;
margin-left: -33px;
gap: 0px;
opacity: 0px;

  }

  .hero-right__container img {
    max-width: 100%;
height: auto;
margin-top: 150px;
margin-left: 75px;
gap: 0px;
opacity: 0px;

  }

  .logo-top  {
    width: 93px;
height: 18px;
margin-top: 30px;
margin-bottom: 12px;
margin-left: 180px;
gap: 10px;
opacity: 0px;

  }

  .logo-top p {
    font-family: "IBM Plex Mono";
font-size: 14px;
font-weight: 400;
line-height: 18.2px;
text-align: left;

  }
  .logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 920px;
    height: 60px;
    margin-left: 180px;
    
    opacity: 0px;
    width: 1280px;

  opacity: 0px;
  background: #080808;
  filter: grayscale(100%);  
  }

  .logo1 {
    width: 160px;
height: 60px;
gap: 10px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #1B1B1B;
color: #9C9C9C;
filter: grayscale(100%);
opacity: 0.3px;
  }

  .logo1 img {
    display: flex;
    width: 100%;
height: 20px;
margin-top: 20px;
margin-left: 9px;
opacity: 0.3px;
color: #9C9C9C;
  }
.clickup {
  display: flex;
    width: 100%;
height: 20px;
margin-top: -20px;
margin-left: 67px;
opacity: 0.3px;
color: #9C9C9C;

}
  .logo2 {
    width: 160px;
height:60px;
gap: 10px;
border: 1px 0px 0px 0px;
border: 1px solid #1B1B1B
  }

  .fa-dropbox {
    width: 82.32px;
height: 20px;
margin-top: 20px;
margin-left: 39px;
opacity: 0.3px;
color: #9C9C9C;
font-size: 13px;

  }

  .logo3 {
    width: 160px;
height: 60px;
gap: 10px;
border: 1px 0px 0px 0px;
border: 1px solid #1B1B1B;

  }

  .paychex-logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 17px;
    opacity: 0.3px;
color: #9C9C9C;
font-style: italic;
font-weight: 600;

  }

  .logo4 {
    width: 160px;
height: 60px;
gap: 10px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #1B1B1B;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: #9C9C9C;
gap: 0px;
filter: grayscale(100%);
  }
  .logo5 {
    width: 160px;
height: 60px;
gap: 10px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #1B1B1B;
    display: flex;
    justify-content: center;
    justify-items: center;
color: #000;

  }

.fa-stripe  {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 17px;
    color: #9C9C9C;
width: 60px;
height: 25px;
font-size: 30px;


  }



  
  
 /* MEDIA QUERIES */
@media (max-width: 920px) {
  .nav__menu,
  .nav__socials {
    display: none;
  }
  .fa-solid {
    display: block;
  }

  
}

